@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    line-height: 64px;
    color: #262220;
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 46px;
    line-height: 54px;
    color: #262220;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #262220;
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #A15C38;
    margin: 15px 0 20px 0
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #F7F1F0    ;
    background-color: #A15C38;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/** HEADER START **/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #F7F1F0    ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #262220;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #A15C38;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #A15C38;
    position: absolute;
    bottom: -4px;
    left: 17px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/** HOME PAGE **/
#headline{
    background-image: url(Images/Homepage/Headline.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#headline h4{
    padding-bottom: 15px;
}

#headline button{
    background-image: url(Images/Homepage/shopbutton.png) ;
    background-color: transparent;
    border: none;
    color: white;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #A15C38;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feature-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #C3A6A0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #C3A6A0;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #262220;
    font-size: 14px;
}

#product1 .pro .des i{
    color: rgb(243, 181, 25);
    font-size: 12px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: bold;
    color: #A15C38;
}

#product1 .fa.fa-shopping-cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #F7F1F0;
    color: #A15C38;
    border: 0.5px solid #C3A6A0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Images/Homepage/banner1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #262220;
    font-size: 16px;
}

#banner h2{
    color: black;
    font-size: 30px;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
}

#banner h2 span{
    color: #F7F1F0;
}

#banner button:hover{
    background-color: #F7F1F0;
    color: #A15C38;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(Images/newsletter.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #A15C38;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #262220;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter p span{
    color: rgb(243, 181, 25);
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #F7F1F0;
    color: #A15C38;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #A15C38;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #262220;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #262220;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer a:hover{
    color: #262220;
}

footer .follow i:hover{
    color: #A15C38;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* CONTACT PAGE */
#page-header{
    background-image: url(Images/Contact/banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#page-header h2{
    color: #262220;
    padding: 0 0;
    font-size: 60px;
}

#page-header p{
    color: white;
    margin: 0 0 20px 0;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 15px;
    padding-top: 2px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #A15C38;
    background-color: #F7F1F0;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #A15C38;
}

#form-details form button{
    color: white;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover; 
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #262220;
}

/* START MEDIA QUERY */
@media (max-width:913px) {
    .section-p1 {
        padding: 40px 80px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #F7F1F0;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.35s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #262220;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 20px;
        left: 25px;
        color: #262220;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #headline {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .feature-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #newsletter .form {
        width: 70%;
    }

    /* Contact Page */
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
    
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 20px;
    }
    #headline {
        padding: 0 20px;
        background-position: 55%;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 32px;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .feature-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature .feature-box img{
        width: 130px;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }

    /* Contact Page */
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .details {
        width: 100%;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }
}